extends layout
//- block head
block content
    center
        h3 SAVO
        p.status #[a(href='/login') Login] or #[a(href='/register') register]

    //- script, get user and switch to Go to <a>game</a> if success
