extends ../layout
//- block head
block content
    h3 SAVO login
    form(enctype="application/json")
        .row
            .col-sm-5
                label(for='nick')
                input.form-control(id='nick' placeholder='Nickname or email' type='username')
            .col-sm-7
                label(for="pwd")
                input.form-control(id='pwd' placeholder='Password' type='password')
        .row
            .col-sm-12
                button.btn.btn-primary(type='submit') Login
        .row
            .com-sm-12
                h3#status
